<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="css/custom/requesttaxi.css">
    <title>Client</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<style>
    #map{
        height: 600px;
        width: 50%;
    }
</style>
<body>

    <div class="conatiner">
        <img src="../img/menu-top.jpg" alt="logo" style="width:100%;height:30px ">
    </div>
    <nav class="container-fluid " style="background-color: black;">
        <div class="container d-flex  justify-content-between ">
            <img src="../img/WhatsApp Image 2023-06-24 à 23.53.04.jpg" alt="logo"
                style="width:80px;height:20px ;margin-top:12px">
            <img src="../img/6239059 (1).png" alt="MENU" style="width:30px;height:30px;margin-bottom :3px ">
            <link rel="stylesheet" href="">
    </nav>
    </div>
    <div class="container" style="display: flex;">

        <div id="map" style="width: 0; flex-grow: 1;"></div>
    </div>
    
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const Obj = {
                clientId : "<%= clientId %>",
                full_name : "<%= full_name %>",
            }
        </script>
        <script src="js/custom/dashboard_client.js"></script>
</body>

</html>