<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #map {
        height: 50vh;
        width: 50%;
    }
</style>

<body>

    <div>
        <img src="../img/menu-top.jpg" alt="logo" style="width:1400px;height:15px">
    </div>
    <nav style="background-color: black;">
        <div class="container d-flex  justify-content-between ">
            <img src="../img/WhatsApp Image 2023-06-24 à 23.53.04.jpg" alt="logo"
                style="width:80px;height:20px ;margin-top:12px">
            <img src="../img/6239059 (1).png" alt="MENU" style="width:30px;height:30px;margin-top:12px ">
            <link rel="stylesheet" href="">
    </nav>
    </div>
    <div>
        <div id="map" class="d-inline-block " style="border: 2px solid black;width: 600px;height:90vh">
        </div>


        <script src="/socket.io/socket.io.js"></script>
        <script>
            const Obj = {
                driverId : "<%= clientId %>",
                full_name : "<%= full_name %>",
            }
        </script>
        <script src="js/custom/dashboard_driver.js"></script>
</body>

</html>