*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header-top{
    height: 10px;
    width: 100%;
    background-image: url("img/top-menu.png");
}
#map{
    height: 90vh;
    width: 50%;
}