.popup {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F9D700;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.form-group {
  margin-bottom: 7px;
}

.form-group label {
  display: block;
  font-weight: bold;
  /* margin-bottom: 5px; */
}

.form-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group button {
  padding: 8px 15px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}